.container {
  max-width: 1140px;
  margin: 0 auto;
}

.bg-informa-se {
  background: linear-gradient(114deg, #b0c9e7 72.6%, #d9e5f3 94.93%);
  height: 576px;
  position: relative;
}

.banner_waves {
  position: absolute;
  bottom: 0;
  right: 0;
}

.banner_wrapper {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  gap: 3.5rem;
}

.banner_img {
  max-width: 100%;
  width: 31.4375rem;
}

.banner_content {
  display: flex;
  flex-direction: column;
}

.banner_content h1 {
  color: var(--grey450);
  font-family: "Oswald";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.02475rem;
  margin-bottom: 2.5rem;
}

.banner_content h1 span {
  color: var(--primary350);
  font-family: "Oswald";
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02338rem;
  text-transform: uppercase;
}

.banner_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.banner_grid_span {
  grid-column: span 2;
}

.banner_grid_span span,
.banner_grid_span p {
  color: #1e1e1e !important;
}

.banner_grid_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 1rem 1.25rem;
  background: var(--primary100);
  padding: 1rem 1.25rem;
}

.banner_grid_wrapper span {
  color: var(--primary500);
  font-family: "Oswald";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.22px;
}

.banner_grid_wrapper p {
  color: var(--primary500);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.176px;
}

.banner_button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  width: 24.625rem;

  color: var(--grey-500);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.011rem;

  background: #feb200;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
