.entenda-tabagismo .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.entenda-tabagismo h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  font-size: 52px;
  padding-top: 4.5rem;
}

.entenda-tabagismo .subtitle {
  text-align: center;
  font-size: 24px;
  color: var(--gray500);
  font-family: Inter, sans-serif;
  padding-bottom: 4.125rem;
  font-weight: 500;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2rem 5rem;
  padding-top: 2rem;
  padding-bottom: 3.25rem;
}

.btn-ver-mais {
  margin: 20px auto 0;
  padding: 12px 22px;
  background: var(--white50);
  color: var(--primary200);
  border: 2px solid var(--primary200);
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  font-family: Inter, sans-serif;
  margin-bottom: 59px;
  font-weight: 700;
}

@media (max-width: 1280px) {
  .card-grid {
    gap: 2rem 2rem;
  }
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .title_section_content h2 {
    font-size: 1.75rem;
  }
}
