.card_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2rem 5rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

@media (max-width: 1200px) {
  .card_grid {
    gap: 2rem 2rem;
  }
}

@media (max-width: 768px) {
  .card_grid {
    grid-template-columns: 1fr;
  }
}
