.banner {
  /* display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    -10deg,
    #d9e5f3 0%,
    #d9e5f3 35%,
    #b0c9e7 55%,
    #b0c9e7 100%
  );
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: -1; */
  /* margin-top: 2rem; */
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  background: linear-gradient(
    -10deg,
    #d9e5f3 0%,
    #d9e5f3 35%,
    #b0c9e7 55%,
    #b0c9e7 100%
  );
}

.banner-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 2rem;
}

.banner-content-text {
  flex: 1;
}

.banner-title {
  font-family: "Oswald", "sans-serif";
  font-size: 2.25rem;
  color: var(--gray500);
  font-weight: 400;
}

.banner-second-title {
  font-family: "Oswald", "sans-serif";
  font-size: 3.75rem;
  color: var(--gray500);
  font-weight: 400;
}

.colored-text {
  font-family: "Oswald", "sans-serif";
  color: var(--Primary-300, #00418d);
  font-size: 3.75rem;
  font-weight: 400;
}

.banner-subtitle {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.banner-content img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}

/* @media (min-width: 651px) and (max-width: 1024px) {
  .banner-title {
    font-size: 3.5rem;
  }

  .banner-subtitle {
    font-size: 1.8rem;
  }
} */

@media (max-width: 650px) {
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-content-text {
    text-align: center;
  }

  .banner-title {
    font-size: 1.25rem;
    color: var(--gray500);
    font-weight: 400;
  }

  .banner-second-title {
    font-size: 2rem;
    color: var(--gray500);
    font-weight: 400;
  }

  .colored-text {
    font-size: 2rem;
  }

  .banner-subtitle {
    font-size: 1rem;
  }

  .banner-content img {
    max-width: 100%;
    margin-top: 2rem;
  }
}


