import .card {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}

.card-image {
  width: 544px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  padding: 6px;
}

.card-content {
  padding: 6px;
}

.card-content h3 {
  font-size: 20px;
  margin-bottom: 8px;
  font-family: Oswald;
  margin-bottom: 8px;
  font-size: 20px;
}

.card-content p {
  font-size: 16px;
  font-family: Inter;
}
