.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    -10deg,
    #d9e5f3 0%,
    #d9e5f3 35%,
    #b0c9e7 55%,
    #b0c9e7 100%
  );
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 1120px;
}

.text-section {
  padding: 0px 16px 0px 16px;
}

.first-title {
  color: var(--Grey-Shades-500, #1c1c1c);
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  font-family: Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 43.2px */
  letter-spacing: -0.396px;
  text-transform: uppercase;
}

.second-title {
  color: var(--Grey-Shades-500, #1c1c1c);
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  font-family: Oswald;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 72px */
  letter-spacing: -0.66px;
  text-transform: uppercase;
}

.colored-text {
  color: var(--Primary-300, #00418d);
  font-family: Oswald;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.66px;
  text-transform: uppercase;
}

.sub-text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 32px;
  gap: 24px;
}

.sub-text {
  color: var(--Primary-500, #001c3e);
  /* Subtitle/Subtitle */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  letter-spacing: -0.22px;
}

.hero-h1 {
  font-size: 52px;
}

@media screen and (max-width: 1048px) {
  .image-section {
    display: none;
  }
}
