.header {
  width: 100%;
  position: fixed;
  padding: 4px;
  top: 0px;
  background-color: #b0c9e7;
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0px 8px 0px 8px;
}

.nav-bar {
  width: 55%;
  margin: 0px 8px 0px 8px;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.nav-list-item {
}
