.header {
  width: 100%;
  padding: 4px;
  background-color: #b0c9e7;
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;

  transition: 0.33s;
}

.shadow-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0px 8px 0px 8px;
}

.nav-bar {
  width: 55%;
  margin: 0px 8px 0px 8px;
}

.nav-list {
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 10px;
}

.nav-list li {
  color: var(--gray500);
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.176px;
}

.header-btn {
  text-decoration: none;
  color: inherit;
}
