.carousel {
  display: flex;
  gap: 20px;
}

/* Carousel.css (ou no arquivo CSS onde você tem os estilos do carrossel) */
.carousel-topics {
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os tópicos horizontalmente */
  width: fit-content; /* Ajusta a largura do container ao conteúdo */
  margin: 0 auto; /* Centraliza o container na página */
}

.carousel-topic {
  background: none;
  border: none;
  padding: 0;
  margin-top: 69px;
  margin-bottom: 35px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #333;
}

.carousel-topic:hover {
  text-decoration: underline;
}

.carousel-topic.active {
  font-weight: bold;
}
