@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/*========== CALCULADORA =============*/

.calculadora-container {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 63px;
}

.calculadora-content {
  background-color: #b0c9e7;
  border-radius: 0px 0px 60px 60px;
  padding-bottom: 64px;
}

.calculadora-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
  flex-wrap: wrap;
}

.calculadora-text-container {
  font-family: "Oswald", sans-serif;
  text-align: center;
  max-width: 100%;
}

.calculadora-text-container h1 {
  font-size: 3.25rem;
  font-weight: 600;
  color: #003d84;
  text-align: left;
}

.calculadora-text-container p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-family: "Inter", sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: justify;
}

.calculadora-text-small {
  font-weight: 400;
  font-size: 1rem;
}

.calculadora-text-small-bolder {
  font-weight: bolder;
}

.calculadora-banner-container {
  max-width: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculadora-banner-image {
  max-width: 100%;
  height: auto;
}

.calculadora {
  display: flex;
  flex-direction: column;
  background-color: #b0c9e7;
  max-width: 1280px;
  margin: 0 auto;
}

.calculadora-forms {
  border-radius: 40px;
  background-color: #fefefe;
  padding: 24px 64px 32px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.calculadora-forms h2 {
  font-family: "Oswald", "Sans-serif";
  font-size: 24px;
  text-align: center;
  padding-bottom: 48px;
  color: var(--primary450);
}

.calculadora-input-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.calculadora-input-container[1] {
  display: flex;
  justify-content: space-between;
}

.coluna {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 2rem;
  gap: 12px; 
}

.coluna:last-child {
  margin-right: 0;
}

.leftItens input,
.rightItens input,
.leftItens2 input {
  width: 100px;
  /* margin-right: 10px; */
}

.leftItens {
  display: flex;
  gap: 10px;
  gap: 12px;
}

/* .leftItens2 {
  margin-top: 42px;
} */

.coluna h3 {
  font-family: "Inter", "sans-serif";
  color: var(--primary450);
  font-size: 16px;
  font-weight: 500;
}

.inputs input {
  width: 60px;
}

.leftItens2 input {
  width: 130px;
}

.obs {
  font-size: 0.85rem;
  color: #00244f;
  font-weight: 400;
}

.btnResultado {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btnResultado button {
  width: 211px;
  height: 51px;
  border-radius: 8px;
  background-color: #0051b0;
  border: none;
  color: #fefefe;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}

.btnResultado button:hover {
  background-color: #0056b3;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"],
input[type="text"] {
  font-size: 20px;
  color: var(--primary250);
  height: 35px;
  border-radius: 8px;
  border: 2px solid #b0c9e7;
  text-align: right;
  padding-right: 12px;
}

input[placeholder] {
  color: var(--primary250);
}

/*========== RESULTADOS E CARDS =============*/

.cardContainer {
  margin: 0 auto;
  margin-top: 50px;

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #003d84;
    text-align: center;
    margin-top: 30px;
  }
}

.Banerresultados {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.resultCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 150px; */
  margin: 10px;
}

.cardSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
} */

.cardInformacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-on {
  border: 2px solid #003d84;
}

.card-off {
  border: 2px solid #ddd;
}

.cardImage {
  width: 100%;
}

.cardImage img {
  width: 100%;
  max-height: 130px;
  border: 1.5px solid #8baeda;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
}

.cardText {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.cardTitle h3 {
  font-size: 18px;
  color: #003d84;
}

.cardTitle img {
  width: 25px;
}

.cardSubtitle {
  text-align: left;
  font-size: 16px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button button {
  cursor: pointer;
  border: none;
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 24px;
  width: 186px;
  height: 40px;
  background-color: #feb200;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  margin: 0 auto;
  /* max-width: 1200px; */

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #003d84;
    text-align: center;
    margin-top: 64px;
  }
}

.Banerresultados {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 143px;
  border-radius: 40px;
  border: 2px solid #00499e;
  justify-content: center;
}

.resultItens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 64px;

  p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
  }
}

.resultCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin: 0 auto;
}

.resultIcon {
  display: flex;
  flex-direction: row;

  img {
    padding-right: 9px;
  }
}

.dadosResult {
  color: #f27d00;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.textResult {
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  font-weight: 500;
}

.cardContent {
  background-color: #fff;
  border-radius: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
  justify-content: center;
}
/* .cardSection .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
} */

.cardSection .cards .cardInformacao {
  flex: 1 1 calc(25% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #f7f9fc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* transition: transform 0.3s ease; */
  box-sizing: border-box; 
}

.cardSection .cards .cardInformacao.card-off .cardImage img {
  max-width: 100%;
  height: auto;
  border: 1.5px solid #a6a6a6;
  border-radius: 20px;
}

.cardSection .cards .cardInformacao.card-on img {
  max-width: 100%;
  height: auto;
  
  border-radius: 20px;
}

.cardSection .cards .cardInformacao.card-on {
  background-color: #ffffff;
  border: 2px solid var(--primary200);
  border-radius: 25px;
  gap: 8px;
}

.cardSection .cards .cardInformacao.card-off {
  background-color: #ffffff;
  border: 2px solid #a6a6a6;
  border-radius: 25px;
  gap: 8px;
}

/* .cardSection .cards .cardInformacao:hover {
  transform: translateY(-5px);
} */

.resultCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultIcon img {
  width: 50px;
  height: 50px;
}

.dadosResult {
  font-size: 2em;
  font-weight: bold;
}

.resultCardTwoFirst {
  display: flex;
  gap: 64px;
}

/*========== RESPONSIVO DISPOSITIVOS MENORES =============*/

@media screen and (max-width: 1280px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .calculadora-header {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .calculadora-text-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .calculadora-text-container h1 {
    text-align: center;
  }

  .calculadora-text-container p {
    text-align: center;
    padding: 0 10px;
  }

  .calculadora-banner-container {
    width: 100%;
    margin-top: 20px;
  }

  .calculadora-forms {
    padding: 1rem;
  }

  .leftItens,
  .rightItens,
  .leftItens2 {
    flex-direction: column;
    align-items: flex-start;
  }

  /* .leftItens input,
  .rightItens input,
  .leftItens2 input {
    width: 100%;
  } */

  .Banerresultados {
    flex-direction: column;
  }

  .cardInformacao {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .cardTitle h3 {
    font-size: 14px;
  }

  .calculadora {
    padding: 0 20px 60px 20px;
  }
  .calculadora-input-container {
    flex-direction: column;
  }

  .leftItens input,
  .rightItens input,
  .leftItens2 input {
    /* margin-right: 10px; */
  }

  .coluna {
    margin-right: 0;
    /* margin-bottom: 20px; */
  }

  .btnResultado {
    margin-top: 20px;
  }
}


@media screen and (max-width: 650px) {


  .cardContent {
    padding: 20px;
  }

  .Banerresultados {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .resultItens {
    flex-direction: column;
    gap: 20px;
  }

  .cardSection .cards .cardInformacao {
    flex: 1 1 calc(25% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f7f9fc;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
  }

  .calculadora-forms h2{
    font-size: 20px;
  }

  .cards {
    gap: 32px 16px;
  }

  .cardImage img {
    width: 100%;
    max-height: 80px;
  }
  /* .cardSection .cards {
    flex-direction: column;
  } */

  .cardSubtitle {
    font-size: 10px;
  }

  .cardInformacao {
    width: 100%; 
  }

  .cardTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardTitle img {
    width: 18px;
  }

  .calculadora-text-container h1 {
    font-size: 32px;
    text-align: center;
  }

  .calculadora-text-container p {
    font-size: 20px;
    line-height: 25px;
    padding: 0 10px;
  }
  .resultItens p {
    font-size: 16px;
  }
  

  .dadosResult {
    font-size: 32px;
    font-weight: bold;
  }
  
  .resultCardTwoFirst {
    display: flex;
    gap: 16px;
  }
  .calculadora-all-inputs{
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  
  .calculadora-input-container{
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  
}

::-webkit-input-placeholder {
  font-family: "Inter", "sans-serif";
  font-size: 16px;
  color: var(--primary250);
}

.leftItens {
  display: flex;
}



.inputs{
  display: flex;
  gap: 6px;
  align-items: flex-end;
}

.inputs label{
  font-size: 14px;
}

.calculadora-all-inputs{
  display: flex;
  flex-direction: column;
  gap: 40px;
}