@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@media (min-width: 2560px) {
    .FooterIcons {
        max-width: 50%;
        margin: 0 auto;
    }
}

*{
    overflow-x: hidden;
}
footer{
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    height: 228px;
    background-color:  #003d84;
    display: flex;
    justify-content:space-around;
    color: #FEFEFE;
    overflow-x: hidden;
}
footer img{
    margin-bottom: -92px;
  
}
footer a {
    color:#FEFEFE;
    text-decoration: none;
}
.navFooter{
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    margin-left: 420px;
    width: 566px;

}
.FooterIcons{
    margin-bottom: 114px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.listFooter{
    display: flex;
    flex-direction: end;
    list-style: none;
    margin-bottom: 40px;
    width: 566px;
    height: 24px;
    gap: 62px;
}
.horizonRule{
    width: 1062px;
    height: 0px;
    margin-bottom: 12px;

}

.footer-text{
    display:flex;
    justify-content: space-between;
    width: 1062px;
    font-size: 12px;
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;

} 

